.app--body {
  width: 350px;
  margin: 50px auto;
  background-color: #1a1b21;
}
.info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info--photo {
  width: 350px;
}
.info--header,
.info--about {
  padding: 10px;
  margin: 0;
  text-align: center;
}
.info--about {
  font-size: 15px;
  color: gold;
  font-weight: 600;
}
.about--container {
  display: flex;
  flex-direction: column;
}
.about--header,
.info--header {
  font-weight: 200;
  font-size: 30px;
}
.about--header {
  margin: 0;
  margin-left: 18px;
}
.about--main {
  margin: 0px;
  padding: 20px;
}
